<div id="fini" class="place3">
  <br>
  <br>
  <h3>Yay!  You're going to get time to do anthing you want or nothing at all!</h3>
  <h4>Here's the basic outline of YOUR vacation!</h4>
  <table class="table" id="trip">
    <tbody>
      <tr>
        <td>Date:</td>
        <td>Saturday, February 6th & Sunday, February 7th</td>
      </tr>
      <tr>
        <td>Location:</td>
        <td ng-bind="FC.vacation.location"></td>
      </tr>
      <tr>
        <td>Movie Preference:</td>
        <td ng-bind="FC.vacation.movie"></td>
      </tr>
      <tr>
        <td>Dinner:</td>
        <td ng-bind="FC.vacation.dinner">hi</td>
      </tr>
      <tr>
        <td>Drink:</td>
        <td>
          <span ng-bind="FC.vacation.beverage"></span> -
          <span ng-bind="FC.vacation.myRed"></span>
          <span ng-bind="FC.vacation.myWhite"></span>
          <span ng-bind="FC.vacation.myBeer"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
